<section class="slider-hero">
        <div id="sequence" class="seq">   
            <div class="seq-screen">
                <div class="seq-slider-title">
                    <h1 class="slider-title">Sorins Group - </h1>
                    <h2 class="slider_container-title">современная российская компания</h2> </div>
                    <h3 class="slider_container-title-item">успешно реализующая прoекты на рынке консалтинговых услуг и информационных технологий</h3>
                    <ul class="seq-canvas">
                <li class="seq-in">
                  <div class="seq-model">
                    <img data-seq src="/images/slider-111.png" alt="A female model with long curly brown hair wears a gray sweater, brown shorts, bright yellow socks, and black high heel shoes. She raises one leg, and tilts her head to the side" />
                  </div>
        
                  <div class="seq-title">
                    <h2 data-seq>Подробнее</h2>
                    <h3 data-seq>Сопровождение и разработка IT-решений <br>любой сложности</h3>
                  </div>
                </li>
        
                <li>
                  <div class="seq-model">
                    <img data-seq src="/images/slider-2.png" alt="A pale-skin female model with dark eye shadow and tied up hair wears dark green gloves, gray linen boots, and a woolen lined hood on a black zip-up jacket over a black top and shorts. She holds her jacket open with both hands and slightly raises her left knee whilst looking to the floor" />
                  </div>
        
                  <div class="seq-title">
                    <h2 data-seq>Подробнее</h2>
                    <h3 data-seq>Адаптивность наших систем на всех устройствах</h3>
                  </div>
                </li>
        
                <li>
                  <div class="seq-model">
                    <img data-seq src="/images/slider-3.png" alt="A pale-skin female model with platted hair wears a dark button-up jacket with gray shorts, black tights, brown shoes, and black gloves. She throws both arms back and raises one knee -- as if mid-jump -- whilst looking into the distance" />
                  </div>
        
                  <div class="seq-title">
                    <h2 data-seq>Подробнее</h2>
                    <h3 data-seq>All of the JavaScript functionality you need built-in</h3>
                  </div>
                </li>
              </ul>
            </div>
        
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
              <button type="button" class="seq-prev" aria-label="Previous">Previous</button>
              <button type="button" class="seq-next" aria-label="Next">Next</button>
            </fieldset>
        <div class="litle">
            <ul role="navigation" aria-label="Pagination" class="seq-pagination">
              <li><a href="#step1" rel="step1" title="Go to slide 1"><img src="/images/tn-slider-1.png" /></a></li>
              <li><a href="#step2" rel="step2" title="Go to slide 2"><img src="/images/tn-slider-2.png" /></a></li>
              <li><a href="#step3" rel="step3" title="Go to slide 3"><img src="/images/tn-slider-3.png" /></a></li>
            </ul>
          </div>
        </div>
        <!--<img class="seg-zigzag" src="/images/zigzag1.svg">-->
        </section>

<!--Третья секция описание компании-->
<section class="company-info">
        <div class="company-line"><div></div></div>
        <div class="company-title">
            <p class="company-text">
                Sorins Group это группа людей объединенных общим интересом к различным областям интернет-технологий начиная с веб-разработки и заканчивая аналитикой 
                онлайн проектов. Мы разрабатываем современные и функциональные сайты, с учетом специфики вашего бизнеса и целей, которые вы планируете достичь. На
                текущий момент компания имеет внештатных сотрудников по всей России, что существенно расширяет наши возможности. В результатые вы получите эффективный
                и функциональный инструмент для вашего бизнеса, который поможет достичь самых высоких результатов.
            </p>
        </div>
        <div class="company-service">
            <div class="company-btn">
                <button type="submit" class="button">Начните сотрудничество</button> 
        </div>
        <div class="company-img">
                <span>
                        <img class="company-img" src="/images/right-arrow.svg">
                    </span>
        </div>
        <div class="company-link">
        <a href="./projects.html" class="company-btn_info">Ознакомиться с проектами</a>
        </div>
        </div>
    </section>

<!--Вторая секция почему именно мы-->
<section>
    <h1 class="title-mi-slider">Наши услуги</h1>        
  <div id="mi-slider" class="mi-slider">
       <nav>
 <a href="#">
     <img src="/img/cd-icon-email.svg">
      <span>Web-разработка</span>
</a>
 <a href="#">Аксессуары</a>
 <a href="#">Часы</a>
 <a href="#">Сумки</a>
 <a href="#">Сумки</a>
 <a href="#">Сумки</a>
 </nav>
 <ul>
 <li><a href="#"><img src="/img/hpproducts-screenshot-ITSI.png" alt="img01"></a></li>
 <li><a href="#">
   <h1>Web-разработка и комплексные IT-решения</h1><br>
   <h4>Sorins Group разрабатывает сложные высоконагруженные решения как для 
     государственных заказчиков, так и для коммерческих организаций. Использование </h4></a></li>
 
 </ul>
 <ul>
 <li><a href="#"><img src="images/5.jpg" alt="img05"><h4>Ремни</h4></a></li>
 <li><a href="#"><img src="images/6.jpg" alt="img06"><h4>Шляпы</h4></a></li>
 <li><a href="#"><img src="images/7.jpg" alt="img07"><h4>Очки</h4></a></li>
 <li><a href="#"><img src="images/8.jpg" alt="img08"><h4>Шарфы</h4></a></li>
 </ul>
 <ul>
 <li><a href="#"><img src="images/9.jpg" alt="img09"><h4>Свобода</h4></a></li>
 <li><a href="#"><img src="images/10.jpg" alt="img10"><h4>Роскошь</h4></a></li>
 <li><a href="#"><img src="images/11.jpg" alt="img11"><h4>Спорт</h4></a></li>
 </ul>
 <ul>
 <li><a href="#"><img src="images/12.jpg" alt="img12"><h4>Чемоданы</h4></a></li>
 <li><a href="#"><img src="images/13.jpg" alt="img13"><h4>Дорожные</h4></a></li>
 <li><a href="#"><img src="images/14.jpg" alt="img14"><h4>Для ноутбуков</h4></a></li>
 <li><a href="#"><img src="images/15.jpg" alt="img15"><h4>Портфели</h4></a></li>
 </ul>
 <ul>
 <li><a href="#"><img src="images/16.jpg" alt="img16"><h4>Чемоданы</h4></a></li>
 <li><a href="#"><img src="images/17.jpg" alt="img17"><h4>Дорожные</h4></a></li>
 <li><a href="#"><img src="images/18.jpg" alt="img18"><h4>Для ноутбуков</h4></a></li>
 <li><a href="#"><img src="images/19.jpg" alt="img19"><h4>Портфели</h4></a></li>
 </ul>
 <ul>
 <li><a href="#"><img src="images/20.jpg" alt="img20"><h4>Чемоданы</h4></a></li>
 <li><a href="#"><img src="images/21.jpg" alt="img21"><h4>Дорожные</h4></a></li>
 <li><a href="#"><img src="images/22.jpg" alt="img22"><h4>Для ноутбуков</h4></a></li>
 <li><a href="#"><img src="images/23.jpg" alt="img23"><h4>Портфели</h4></a></li>
 </ul>
</div>

</section>



<section>
    <div class="container">
        <div class="my-flipster">
            <ul>
                {{#each items}}
                <li>
                    <div class="card">
                        <img src="{{img}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="{{url}}" target="_blank" class="btn btn-primary">{{button}}</a>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</section>


